

<p-toast></p-toast>

<div class="flex min-h-screen items-center justify-center bg-gray-100 px-6 py-10">
  <div class="w-full max-w-md rounded-lg bg-white p-8 shadow-xl">


      <div class="mb-8 flex justify-center">
            <img
                src="../../../../assets/images/image.png"
                alt="Logo"
                class="h-10 w-auto" />
        </div>

        <h2
            class="mb-4 text-left text-xl font-extrabold text-gray-900 md:text-xl">
            Number Verification
        </h2>


    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-5">


      <div>
        <p-inputMask
          id="phone"
          mask="99999999999"
          placeholder="Enter 11-digit phone number"
          formControlName="phone"
          (input)="onPhoneInput($event)"
          inputStyleClass="w-full rounded border border-gray-300 px-4 py-2 text-gray-800 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent transition"
        ></p-inputMask>

   
        <ng-container *ngIf="phoneControl?.touched && phoneControl?.invalid">
          <p class="mt-1 text-sm text-red-500" *ngIf="phoneControl?.errors?.['required']">
            Phone number is required.
          </p>
          <p class="mt-1 text-sm text-red-500" *ngIf="phoneControl?.errors?.['minlength'] || phoneControl?.errors?.['maxlength']">
            Phone must be 11 digits.
          </p>
          <p class="mt-1 text-sm text-red-500" *ngIf="phoneControl?.errors?.['pattern']">
            Only digits allowed.
          </p>
        </ng-container>
      </div>

      <button
        pButton
        type="submit"
        label="Send OTP"
        class="w-full rounded-md bg-blue-500 py-2 font-bold text-white shadow-md transition hover:bg-blue-600"
      ></button>

    </form>
  </div>
</div>
